body {
  background-color: #ddd0c8;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  margin-bottom: 0;
}
/* start of header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px; /* встановіть висоту вашого хедера */
  background-color: #ddd0c8; /* Початковий колір фону хедера */
  transition: background-color 0.5s ease; /* Плавний перехід кольору фону */
}

.scrolled {
  background-color: #fff; /* Кінцевий колір фону хедера */
}
.logo-black {
  margin-top: 7px;
  margin-left: 200px;
}
.menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 200px;
}

.menu ul {
  list-style: none;
  margin-right: 80px;
  padding: 20px;
}

.menu ul li {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  padding: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #000;
  position: relative;
  font-size: 20px;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.menu ul li a:hover::after {
  transform: scaleX(1);
}

.language-switcher {
  position: relative;
}

.language-options {
  position: absolute;
  left: 0;
  display: none;
  background-color: #ffffff;
  padding: 5px 0;
}

.language-options.show {
  display: block;
}

.language-option {
  display: block;
  padding: 5px 20px;
  color: #fff;
  text-decoration: none;
}
/* end of header */

.content {
  margin-top: 150px; /* Відступ зверху, щоб контент не перекривався хедером */
  margin-left: 0;
  margin-bottom: 0;
  color: black;
}

.login-registration-container {
    color: #000; /* Чорний текст */
    padding: 20px;
    display: flex;
    align-items: center;
}

.login-form,
.registration-form {
    width: calc(50% - 5px); /* 50% ширина, мінус відступи між елементами */
    display: inline-block;
    vertical-align: top; /* Вирівнювання елементів по вертикалі */
    text-align: center; /* Вирівнювання тексту по центру */
}

.login-registration-container input {
    margin: 10px auto; /* Вирівнювання по горизонталі */
    padding: 5px;
    display: block;
    width: 30%;
}

/*footer start*/
.footer {
  background-color: #323232;
  height: 100px;
  width: 100%;
  margin-top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 100px;
}

.all-rights {
  margin: 0;
  color: #fff;
}
/*footer end*/
