{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', path='styles/login-styles.css')}}"
/>
{% endblock head%} {% block body %}
<section class="login-section">
  <div class="container">
    <div class="login-box">
      <form action="/user/signin" class="login-form" method="post">
        <h2>Увійдіть</h2>
        <input
          type="text"
          class="login-input"
          placeholder="Електронна пошта"
          name="email"
          id="email"
          required
        />
        <input
          type="password"
          class="login-input"
          placeholder="Пароль"
          name="password"
          id="password"
          required
        />
        <button class="login-btn">Увійти</button>
        <p>
          Ще не зареєструвались? Зробіть це
          <a href="/signup">тут</a>!
        </p>
      </form>
      {% if message %}
      <div><p>{{ message }}</p></div>
      {% endif %}
    </div>
  </div>
</section>
<script>
  document
    .querySelector(".login-form")
    .addEventListener("submit", async function (event) {
      event.preventDefault();

      const formData = {
        email: document.getElementById("email").value,
        password: document.getElementById("password").value,
      };
      console.log(formData);
      try {
        const response = await fetch("/user/signin", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        });

        const data = await response.json();
        const token = data.token;
        localStorage.setItem('token', token);
        if (response.ok) {
          window.location.href = `/success?token=${data.token}`;
        } else {
          alert(data.message);
        }
      } catch (error) {
        console.error("Помилка:", error);
      }
    });
</script>

{% endblock body %}
