{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', path='styles/register-styles.css')}}"
/>
{% endblock head%} {% block body %}
<section class="register-section">
  <div class="container">
    <h4 class="register-title">Зареєструйтесь</h4>
    <form action="/user/signup" class="register-form" method="post">
      <input
        type="text"
        placeholder="Імʼя"
        class="register-input"
        name="name"
        id="name"
        required
      />
      <input
        type="text"
        placeholder="Прізвище"
        class="register-input"
        name="surname"
        id="surname"
        required
      />
      <input
        type="text"
        placeholder="Пошта"
        class="register-input"
        name="email"
        id="email"
        required
      />
      <input
        type="password"
        placeholder="Пароль"
        class="register-input"
        name="password"
        id="password"
        required
      />

      {% if message %}
      <div><p>{{ message }}</p></div>
      {% endif %}
      <button class="register-btn">Зареєструйтесь</button>
    </form>
    <p class="register-txt">
      Вже зареєстровані?
      <a href="/login">Увійти</a>
    </p>
  </div>
</section>
<script>
  document
    .querySelector(".register-form")
    .addEventListener("submit", async function (event) {
      event.preventDefault();

      const formData = {
        name: document.getElementById("name").value,
        surname: document.getElementById("surname").value,
        email: document.getElementById("email").value,
        password: document.getElementById("password").value,
      };
      console.log(formData);
      try {
        const response = await fetch("/user/signup", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        });

        const data = await response.json();
        const token = data.token;
        localStorage.setItem("token", token);
        if (response.ok) {
          window.location.href = `/success?token=${data.token}`;
        } else {
          alert(data.message);
        }
      } catch (error) {
        console.error("Помилка:", error);
      }
    });
</script>

{% endblock body %}
